.letsStyle {
  color: rgb(0, 0, 0);
  font-size: 1.5rem;
  padding-bottom: 2rem;
}

.calculator-container {
  background: #fff;
  color: white;
  width: 30rem;
  height: 30rem;
  display: grid;
  grid-template-rows: 1fr 4fr 1fr;
  border-radius: 2rem;
  box-shadow: 6px 6px 15px rgb(52, 52, 52);
}

.calc {
  margin: auto;
  margin-top: 6rem;
  width: 33%;
  padding: 10px;
}

.display {
  display: flex;
  background-color: transparent;
  color: white;
  font-size: 2.3rem;
  align-items: center;
  justify-content: flex-end;
  padding-right: 1.5rem;
}

.total {
  justify-self: flex-end;
  color: #212529;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.hint {
  font-size: 1.3rem;
  align-self: flex-start;
  padding: 1.4rem;
  margin-right: auto;
}

.button-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.button-grid:nth-child(4n) {
  background-color: #454ed4;
}

.bottom-container {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  border-radius: 2rem;
}

button {
  border: 1px solid transparent;
  background: #1d3557;
  color: white;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 600;
}

.btn {
  font-size: 1.3rem;
}

.btn:hover {
  background: rgb(24, 44, 72);
  cursor: pointer;
}

.orange {
  background-color: #e63946;
}

.orange:hover {
  background-color: #d32f2f;
}

.zero {
  border-bottom-left-radius: 2rem;
}

.equals {
  border-bottom-right-radius: 2rem;
}

@media only screen and (max-device-width: 480px) {
  .calculator-container {
    max-width: 80vw;
    max-height: 120vw;
  }
}
